<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MobileApplication",
  "name": "Нет тревоге: Путь к спокойствию",
  "operatingSystem": "ANDROID",
  "applicationCategory": "https://schema.org/HealthApplication",
  "image": "https://vnutriapps.ru/images/image_nettrevoge.webp",
  "url": "https://www.rustore.ru/catalog/app/ru.vnutriapps.nettrevoge_vnutri_apps",
  "description": "Приложение 'Нет тревоге: Путь к спокойствию' помогает справиться с тревожностью, уменьшить стресс и найти внутреннее равновесие с помощью простых практик и упражнений.",
  "publisher": {
    "@type": "Organization",
    "name": "Vnutri Apps",
    "url": "https://vnutriapps.ru/"
  },
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "RUB",
    "url": "https://www.rustore.ru/catalog/app/ru.vnutriapps.nettrevoge_vnutri_apps"
  }
}
</script>

<a href="https://www.rustore.ru/catalog/app/ru.vnutriapps.nettrevoge_vnutri_apps" 
   target="_blank" 
   rel="nofollow noopener noreferrer"
   class="recommendedApp-card"
   title="Скачать приложение Нет тревоге: Путь к спокойствию на RuStore">
   
  <img src="/images/icons/ic_nettrevoge.png" 
       alt="Приложение Нет тревоге: Путь к спокойствию — помогает избавиться от тревожности, стресса и найти внутреннее равновесие" 
       class="recommendedApp-icon">
       
  <div class="recommendedApp-info">
    <h2>Нет тревоге: Путь к спокойствию</h2>
    <p>
      Бесплатное приложение для снижения тревожности и стресса.<br>
      Простые дыхательные практики, упражнения на расслабление и поддержка психического здоровья.<br>
      Скачайте в RuStore и начните путь к спокойствию прямо сегодня.
    </p>
  </div>
</a>


