<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MobileApplication",
  "@id": "https://vnutriapps.ru/#app-kuril-brosil"
}
</script>

<div class="recommendedApp-card">
  <img
    src="/images/icons/ic_kurilbrosil.webp"
    alt="Иконка приложения Курил-бросил"
    class="recommendedApp-icon"
    width="96" height="96"
    loading="lazy" decoding="async"
  >

  <div class="recommendedApp-content">
    <h2 class="recommendedApp-title">Курил-бросил:<br> бросить курить</h2>
    <hr class="recommendedApp-divider">
    <p class="recommendedApp-description">
      Приложение помогает бросить курить, отслеживать прогресс и укреплять здоровье.
    </p>
    <div class="recommendedApp-links">
      📲 <a href="https://www.rustore.ru/catalog/app/com.nikinorm.gus" target="_blank" rel="noopener">Скачать на RuStore</a><br>
      🌐 <a href="https://vnutriapps.ru/brosit-kurit" target="_blank" rel="noopener">Подробнее о приложении</a>
    </div>
  </div>
</div>


