<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MobileApplication",
  "name": "Курил-бросил: бросить курить",
  "operatingSystem": "ANDROID",
  "applicationCategory": "https://schema.org/HealthApplication",
  "image": "https://vnutriapps.ru/images/image_kurilbrosil.webp",
  "url": "https://www.rustore.ru/catalog/app/com.nikinorm.gus",
  "description": "Приложение 'Курил-бросил' помогает бросить курить, отслеживать прогресс и укреплять здоровье. Подходит для новичков и опытных пользователей.",
  "publisher": {
    "@type": "Organization",
    "name": "Vnutri Apps",
    "url": "https://vnutriapps.ru/"
  },
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "RUB",
    "url": "https://www.rustore.ru/catalog/app/com.nikinorm.gus"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.7",
    "bestRating": "5",
    "worstRating": "1",
    "ratingCount": "248",
    "reviewCount": "66"
  }
}
</script>

<a href="https://www.rustore.ru/catalog/app/com.nikinorm.gus" 
   target="_blank" 
   rel="nofollow noopener noreferrer"
   class="recommendedApp-card"
   title="Скачать приложение Курил-бросил: бросить курить на RuStore">
   
  <img src="/images/icons/ic_kurilbrosil.png" 
       alt="Иконка приложения Курил-бросил: бросить курить, помогает бросить курить" 
       class="recommendedApp-icon">
       
  <div class="recommendedApp-info">
    <h2>Курил-бросил: бросить курить</h2>
    <p>
      Приложение помогает бросить курить, отслеживать прогресс и укреплять здоровье.<br>
      Скачайте прямо на RuStore и начните свой путь к свободе от никотина.
    </p>
  </div>
</a>


