<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MobileApplication",
  "@id": "https://vnutriapps.ru/#app-odinochestvo",
  "name": "Одиночество: Точки опоры",
  "operatingSystem": "ANDROID",
  "applicationCategory": "https://schema.org/HealthApplication"
}
</script>

<div class="recommendedApp-card">
    <img src="/images/icons/ic_odinochestvo.webp" 
         alt="Иконка приложения Одиночество" 
         class="recommendedApp-icon">

    <div class="recommendedApp-content">
        <h2 class="recommendedApp-title">Одиночество:<br> Точки опоры</h2>
        <hr class="recommendedApp-divider">
        <p class="recommendedApp-description">
            Приложение помогает найти внутреннюю тишину и опору.<br>
            Скачайте и начните путь к гармонии внутри себя.
        </p>
        <div class="recommendedApp-links">
            📲 <a href="https://www.rustore.ru/catalog/app/ru.vnutriapps.odinochestvo_vnutri_apps" target="_blank" rel="nofollow noopener noreferrer">Скачать на RuStore</a><br>
            🌐 <a href="https://vnutriapps.ru/kak-borotsya-s-odinochestvom" target="_blank" rel="nofollow noopener noreferrer">Подробнее о приложении</a>
        </div>
    </div>
</div>







