<script type="application/ld+json">
{
   "@context": "https://schema.org",
  "@type": "MobileApplication",
  "@id": "https://vnutriapps.ru/#net-trevoge"
  
}
</script>

<div class="recommendedApp-card">
    <img src="/images/icons/ic_nettrevoge.webp" 
         alt="Иконка приложения Нет тревоге" 
         class="recommendedApp-icon">

    <div class="recommendedApp-content">
        <h2 class="recommendedApp-title">Нет тревоге:<br> Путь к спокойствию</h2>
        <hr class="recommendedApp-divider">
        <p class="recommendedApp-description">
            Приложение помогает снизить тревожность, расслабиться и развивать эмоциональную стабильность.<br>
            Скачайте на RuStore и начните путь к внутреннему спокойствию.
        </p>
        <div class="recommendedApp-links">
            📲 <a href="https://www.rustore.ru/catalog/app/ru.vnutriapps.nettrevoge_vnutri_apps" target="_blank" rel="nofollow noopener noreferrer">Скачать на RuStore</a><br>
            🌐 <a href="https://vnutriapps.ru/snizit-trevogu" target="_blank" rel="nofollow noopener noreferrer">Подробнее о приложении</a>
        </div>
    </div>
</div>








