<a href="/blog/cycle-snizit-trevogu/" class="blog-card">
  <div class="recommendedApp-card">
    <img
      src="/images/icons/ic_nettrevoge.webp"
      alt="Иконка цикла Путь к спокойствию"
      class="recommendedApp-icon"
      width="96" height="96"
      loading="lazy" decoding="async"
    >

    <div class="recommendedApp-content">
      <h2 class="recommendedApp-title">
        Путь к спокойствию:<br>
        Цикл о снижении тревоги
      </h2>
      <hr class="recommendedApp-divider">
      <p class="recommendedApp-description">
        Последовательный путь от понимания тревоги<br>
        к устойчивому внутреннему равновесию.<br>
        Vnutri Apps
      </p>
    </div>
  </div>
</a>
