 <a href="/blog/cycle-snizit-trevogu/" class="blog-card">
   <div class="recommendedApp-card">
  <img
    src="/images/icons/ic_kurilbrosil.webp"
    alt="Иконка цикла статей Нет тревоге "
    class="recommendedApp-icon"
    width="96" height="96"
    loading="lazy" decoding="async"
  >

  <div class="recommendedApp-content">
    <h2 class="recommendedApp-title">Курил-бросил: <br>Энциклопедия отказа от курения</h2>
    <hr class="recommendedApp-divider">
    <p class="recommendedApp-description">
     Как бросить курить уверенно, спокойно и навсегда.<br> Курил-бросил | Vnutri Apps
    </p>
   
  </div>
</div>
  </a>
