 <a href="/blog/emotsii/" class="blog-card">
   <div class="recommendedApp-card">
  <img
    src="/images/icons/ic_kurilbrosil.webp"
    alt="Иконка приложения Курил-бросил"
    class="recommendedApp-icon"
    width="96" height="96"
    loading="lazy" decoding="async"
  >

  <div class="recommendedApp-content">
    <h2 class="recommendedApp-title">Энциклопедия отказа от курения</h2>
    <hr class="recommendedApp-divider">
    <p class="recommendedApp-description">
     Как бросить курить уверенно, спокойно и навсегда<br> Курил-бросил | Vnutri Apps
    </p>
    <div class="recommendedApp-links">
      📲 <a href="https://www.rustore.ru/catalog/app/com.nikinorm.gus" target="_blank" rel="noopener">Открыть энциклопедию</a><br>
      🌐 <a href="https://vnutriapps.ru/brosit-kurit" target="_blank" rel="noopener">Подробнее о приложении</a>
    </div>
  </div>
</div>
  </a>

