{% comment %}
  Требования:
  - фронт-маттер: title, description, date, (опц.) banner.image/width/height, (опц.) dateUpdated, (опц.) tema/articleSection, (опц.) tags, (опц.) sources (массив ссылок)
{% endcomment %}
{% assign img_url = page.banner.image | default: nil %}
{% assign img_w   = page.banner.width  | default: 1200 %}
{% assign img_h   = page.banner.height | default: 630 %}
{% assign has_img = img_url | default: "" | size | plus: 0 %}

<!-- 1) Хаб как страница-коллекция -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "@id": "{{ page.url | absolute_url }}#page",
  "headline": {{ page.title | jsonify }},
  {% if page.banner.title %}"alternativeHeadline": {{ page.banner.title | jsonify }},{% endif %}
  "name": {{ page.title | jsonify }},
  "description": {{ page.description | default: site.description | jsonify }},
  "inLanguage": "ru-RU",
  "isAccessibleForFree": true,
  "author": { 
    "@type": "Person",
    "@id": "https://vnutriapps.ru/about-vnutri-apps#nikita-mityaev" },
  "publisher": {
    "@type": "Organization",
    "@id": "https://vnutriapps.ru/#organization",
    "url": "https://vnutriapps.ru/"
  },
  "copyrightHolder": {
    "@type": "Organization",
    "@id": "https://vnutriapps.ru/#organization",
    "url": "https://vnutriapps.ru/"
  }{% if has_img > 0 %},
  "image": {
    "@type": "ImageObject",
    "url": "{{ img_url | absolute_url }}",
    "contentUrl": "{{ img_url | absolute_url }}",
    "width": {{ img_w }},
    "height": {{ img_h }},
    "caption": {{ page.banner.title | default: page.title | jsonify }}
  },
  "thumbnailUrl": "{{ img_url | absolute_url }}"{% endif %},
  "url": "{{ page.url | absolute_url }}",
  
  "mainEntity": { "@id": "{{ page.url | absolute_url }}#series" },

  "datePublished": "{{ page.date | date_to_xmlschema }}"{% if page.dateUpdated %},
  "dateModified": "{{ page.dateUpdated | date_to_xmlschema }}"{% endif %},
  "text": {{ page.content | strip_html | truncate: 1000 | strip_newlines | jsonify }},
  "wordCount": {{ page.content | strip_html | strip_newlines | split: " " | size }}{% if page.tags and page.tags.size > 0 %},
  "keywords": [{% for tag in page.tags %}{{ tag | jsonify }}{% unless forloop.last %}, {% endunless %}{% endfor %}]{% endif %},
  "hasPart": [
  {% if page.faq and page.faq.size > 0 %}
  { "@type": "FAQPage", "@id": "{{ page.url | absolute_url }}#faq" }{% if page.faq and page.faq.size > 0 %},{% endif %}
{% endif %}

{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-voznikaet-trevoga/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/chem-trevoga-otlichaetsya-ot-strakha/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-emotsiya-ili-sostoyanie/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevoga-voznikayet-bez-prichiny/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/kak-formiruetsya-trevozhnoe-sostoyanie/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/polezna-li-trevoga-i-zachem-ona-nuzhna/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevoga-stala-normoy-v-sovremennom-mire/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-stress/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/kogda-trevoga-schitaetsya-normalnoy/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/kogda-trevoga-stanovitsya-problemoj/#webpage" },

{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/simptomy-trevogi-v-tele/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-uchashchyonnoe-serdtsebienie/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/kom-v-gorle-i-trevoga/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-nekhvatka-vozdukha/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-golovokruzhenie/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-napryazhenie-myshts/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-boli-bez-prichiny/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-problemy-s-zhkt/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-postoyannaya-ustalost/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-simptomy-trevogi-pugayut/#webpage" },

{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/chto-takoe-trevozhnye-mysli/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevozhnye-mysli-povtoryayutsya/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/navyazchivye-mysli-i-trevoga/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-nevozmozhno-perestat-dumat/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/katastrofizatsiya-mekhanizm-trevogi/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/ozhidanie-khudshogo-i-trevozhnost/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-kontrol/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-razum-ne-uspokaivaet-trevogu/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/zamknutyy-krug-trevozhnykh-mysley/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-logika-ne-pomogaet-pri-trevoge/#webpage" },

{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-po-utram-prichiny/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevoga-usilivaetsya-vecherom/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-son-kak-spravitsya-s-nochnymi-myslyami/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-nochyu-i-probuzhdeniya/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-v-tishine/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-bez-vneshnikh-prichin/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-v-odinochestve/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-v-period-neopredelyonnosti/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-na-fone-ustalosti/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevoga-prikhodit-na-pustom-meste/#webpage" },

{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/kak-trevoga-vliyaet-na-resheniya/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/izbeganie-kak-sledstvie-trevogi/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevoga-suzhaet-zhizn/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-prokrastinatsiya/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-sotsialnoe-napryazhenie/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-otnosheniya/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-rabota/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-postoyannaya-proverka/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/kak-trevoga-upravlyaet-vyborom/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevoga-meshaet-zhit/#webpage" },

{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevogu-nelzya-podavlyat/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/chto-usilivaet-trevogu/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/oshibki-pri-rabote-s-trevogoy/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/chto-deystvitelno-pomogaet-snizit-trevogu/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-uspokoysya-ne-rabotaet/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/rabota-s-trevogoy-cherez-telo/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/rabota-s-trevogoy-cherez-vnimanie/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/prinyatie-trevogi-chto-eto-znachit/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/kak-postepenno-snizit-trevozhnost/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/kogda-stoit-obrashchatsya-za-pomoshchyu/#webpage" },

{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/chto-prikhodit-posle-trevogi/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/vnutrennyaya-opora-chto-eto/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-tishina-pugaet/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/vnimanie-kak-resurs/#webpage" },
{ "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/spokoystvie-kak-sposob-zhit/#webpage" }

  
  ]{% if page.sources and page.sources.size > 0 %},
  "citation": [{% for s in page.sources %}{{ s | jsonify }}{% unless forloop.last %}, {% endunless %}{% endfor %}]{% endif %}{% if page.about or page.tags %}
, "about": [
  {% if page.about %}
    {% for a in page.about %}
      { "@type": "Thing", "name": {{ a | jsonify }} }{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% elsif page.tags and page.tags.size > 0 %}
    {% for tag in page.tags %}
      { "@type": "Thing", "name": {{ tag | jsonify }} }{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% endif %}
]{% endif %},
  "potentialAction": {
    "@type": "ReadAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{ page.url | absolute_url }}"
    }
  },
  "isPartOf": [
    { "@id": "https://vnutriapps.ru/#webpage" },
    { "@id": "https://vnutriapps.ru/#website" },
    { "@id": "https://vnutriapps.ru/snizit-trevogu#webpage" }
  ]
}
</script>

<!-- 2) Собственно серия как отдельная сущность -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CreativeWorkSeries",
  "@id": "{{ page.url | absolute_url }}#series",
  "name": {{ page.cycle_title | jsonify }},
  "headline": {{ page.cycle_title | jsonify }},
  "genre": ["Энциклопедия", "Руководство", "Цикл статей"],
  "description": {{ page.cycle_description | default: site.description | jsonify }},
  "inLanguage": "ru-RU",
  "isAccessibleForFree": true,
  "url": "{{ page.url | absolute_url }}",
   "author": { 
    "@type": "Person",
    "@id": "https://vnutriapps.ru/about-vnutri-apps#nikita-mityaev" },
  "publisher": {
    "@type": "Organization",
    "@id": "https://vnutriapps.ru/#organization",
    "url": "https://vnutriapps.ru/"
  }{% if has_img > 0 %},
  "image": {
    "@type": "ImageObject",
    "url": "{{ img_url | absolute_url }}",
    "contentUrl": "{{ img_url | absolute_url }}",
    "width": {{ img_w }},
    "height": {{ img_h }},
    "caption": {{ page.banner.title | default: page.title | jsonify }}
  }{% endif %},
  "hasPart": [

{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-voznikaet-trevoga/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/chem-trevoga-otlichaetsya-ot-strakha/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-emotsiya-ili-sostoyanie/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevoga-voznikayet-bez-prichiny/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/kak-formiruetsya-trevozhnoe-sostoyanie/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/polezna-li-trevoga-i-zachem-ona-nuzhna/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevoga-stala-normoy-v-sovremennom-mire/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-stress/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/kogda-trevoga-schitaetsya-normalnoy/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/kogda-trevoga-stanovitsya-problemoj/#article" },

{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/simptomy-trevogi-v-tele/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-uchashchyonnoe-serdtsebienie/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/kom-v-gorle-i-trevoga/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-nekhvatka-vozdukha/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-golovokruzhenie/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-napryazhenie-myshts/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-boli-bez-prichiny/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-problemy-s-zhkt/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-postoyannaya-ustalost/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-simptomy-trevogi-pugayut/#article" },

{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/chto-takoe-trevozhnye-mysli/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevozhnye-mysli-povtoryayutsya/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/navyazchivye-mysli-i-trevoga/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-nevozmozhno-perestat-dumat/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/katastrofizatsiya-mekhanizm-trevogi/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/ozhidanie-khudshogo-i-trevozhnost/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-kontrol/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-razum-ne-uspokaivaet-trevogu/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/zamknutyy-krug-trevozhnykh-mysley/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-logika-ne-pomogaet-pri-trevoge/#article" },

{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-po-utram-prichiny/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevoga-usilivaetsya-vecherom/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-son-kak-spravitsya-s-nochnymi-myslyami/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-nochyu-i-probuzhdeniya/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-v-tishine/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-bez-vneshnikh-prichin/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-v-odinochestve/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-v-period-neopredelyonnosti/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-na-fone-ustalosti/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevoga-prikhodit-na-pustom-meste/#article" },

{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/kak-trevoga-vliyaet-na-resheniya/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/izbeganie-kak-sledstvie-trevogi/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevoga-suzhaet-zhizn/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-prokrastinatsiya/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-sotsialnoe-napryazhenie/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-otnosheniya/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-rabota/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/trevoga-i-postoyannaya-proverka/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/kak-trevoga-upravlyaet-vyborom/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevoga-meshaet-zhit/#article" },

{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevogu-nelzya-podavlyat/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/chto-usilivaet-trevogu/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/oshibki-pri-rabote-s-trevogoy/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/chto-deystvitelno-pomogaet-snizit-trevogu/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-uspokoysya-ne-rabotaet/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/rabota-s-trevogoy-cherez-telo/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/rabota-s-trevogoy-cherez-vnimanie/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/prinyatie-trevogi-chto-eto-znachit/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/kak-postepenno-snizit-trevozhnost/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/kogda-stoit-obrashchatsya-za-pomoshchyu/#article" },

{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/chto-prikhodit-posle-trevogi/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/vnutrennyaya-opora-chto-eto/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-tishina-pugaet/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/vnimanie-kak-resurs/#article" },
{ "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/spokoystvie-kak-sposob-zhit/#article" }

  
  ]{% if page.sources_cycle and page.sources_cycle.size > 0 %},
  "citation": [{% for s in page.sources_cycle %}{{ s | jsonify }}{% unless forloop.last %}, {% endunless %}{% endfor %}]{% endif %}{% if page.about_cycle or page.tags_cycle %}
, "about": [
  {% if page.about_cycle and page.about_cycle.size > 0 %}
    {% for a in page.about_cycle %}
      { "@type": "Thing", "name": {{ a | jsonify }} }{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% elsif page.tags_cycle and page.tags_cycle.size > 0 %}
    {% for tag in page.tags_cycle %}
      { "@type": "Thing", "name": {{ tag | jsonify }} }{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% endif %}
]{% endif %},
  "potentialAction": {
    "@type": "ReadAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{ page.url | absolute_url }}"
    }
  }
}
</script>

{% comment %} _includes/jsonld-faq.html (без изменений) {% endcomment %}
{% if page.faq and page.faq.size > 0 %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "@id": "{{ page.url | absolute_url }}#faq",
  "isPartOf": { "@id": "{{ page.url | absolute_url }}#page" },
  "mainEntity": [
    {% for item in page.faq %}
    {
      "@type": "Question",
      "name": {{ item.q | strip_html | strip_newlines | jsonify }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ item.a | strip_newlines | jsonify }}
      }
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
{% endif %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "@id": "{{ page.url | absolute_url }}#webpage",
  "url": "{{ page.url | absolute_url }}",
  "name": {{ page.title | jsonify }},
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | default: site.description | jsonify }},
  "inLanguage": "ru-RU",
  "isAccessibleForFree": true,
  "breadcrumb": { "@id": "{{ page.url | absolute_url }}#breadcrumbs" },
  "datePublished": "{{ page.date | date_to_xmlschema }}"{% if page.dateUpdated %},
  "dateModified": "{{ page.dateUpdated | date_to_xmlschema }}"{% endif %}{% if has_img > 0 %},
  "primaryImageOfPage": {
    "@type": "ImageObject",
    "url": "{{ img_url | absolute_url }}",
    "contentUrl": "{{ img_url | absolute_url }}",
    "width": {{ img_w }},
    "height": {{ img_h }},
    "caption": {{ page.banner.title | default: page.title | jsonify }}
  }{% endif %},
  "mainEntity": { "@id": "{{ page.url | absolute_url }}#series" }
  , "isPartOf": [
    { "@id": "https://vnutriapps.ru/#webpage" },
    { "@id": "https://vnutriapps.ru/#website" },
    { "@id": "https://vnutriapps.ru/snizit-trevogu#webpage" }
  ]
  
}
</script>
