{%- comment -%} _includes/jsonld-organization.html {%- endcomment -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "@id": "https://vnutriapps.ru/#organization",
  "name": "Vnutri Apps",
  "url": "https://vnutriapps.ru/",
  "logo": {
    "@type": "ImageObject",
    "url": "https://vnutriapps.ru/images/favicon192.png",
    "width": 192,
    "height": 192
  },
  "sameAs": [
    "https://t.me/vnutriapps",
    "https://vk.com/vnutriapps",
    "https://www.youtube.com/@VnutriApps",
    "https://dzen.ru/vnutriapps",
    "https://ok.ru/group/70000039792868",
    "https://boosty.to/vnutri_apps",
    "https://www.instagram.com/vnutriapps/"
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "email": "vnutri_apps@mail.ru",
    "contactType": "customer support",
    "availableLanguage": "ru"
  },
  "founder": {
    "@type": "Person",
    "name": "Никита Митяев",
    "jobTitle": "Автор и разработчик приложений Vnutri Apps",
    "url": "https://vnutriapps.ru/about-vnutri-apps"
  }
}
</script>
