<!-- JSON-LD для статьи -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ page.title }}"{% if page.banner.title %},
  "alternativeHeadline": "{{ page.banner.title }}"{% endif %},
  "description": "{{ page.description | default: site.description }}",
  "author": {
    "@type": "Person",
    "name": "Никита Митяев"
  },
  "publisher": {
    "@id": "https://vnutriapps.ru/#organization"
  }{% if page.banner.image %},
  "image": "{{ page.banner.image | absolute_url }}"{% endif %},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% if page.dateUpdated %},
  "dateModified": "{{ page.dateUpdated }}"{% endif %},
  "text": {{ page.content | strip_html | truncate: 1000 | strip_newlines | jsonify }},
  "articleBody": {{ page.content | strip_html | strip_newlines | jsonify }},
  {% if page.tema %},
  "articleSection": {{page.tema}}{% endif %},
  "wordCount": {{ page.content | strip_html | strip_newlines | split: " " | size }},
  "keywords": [{% for tag in page.tags %}"{{ tag }}"{% if forloop.last == false %}, {% endif %}{% endfor %}],
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  }
}
</script>
