{% comment %}
  Требования:
  - фронт-маттер: title, description, date, (опц.) banner.image/width/height, (опц.) dateUpdated, (опц.) tema/articleSection, (опц.) tags, (опц.) sources (массив ссылок)
{% endcomment %}
{% assign img_url = page.banner.image | default: nil %}
{% assign img_w   = page.banner.width  | default: 1200 %}
{% assign img_h   = page.banner.height | default: 630 %}
{% assign has_img = img_url | default: "" | size | plus: 0 %}

<!-- 1) Хаб как страница-коллекция -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "@id": "{{ page.url | absolute_url }}#page",
  "headline": {{ page.title | jsonify }},
  {% if page.banner.title %}"alternativeHeadline": {{ page.banner.title | jsonify }},{% endif %}
  "name": {{ page.title | jsonify }},
  "description": {{ page.description | default: site.description | jsonify }},
  "inLanguage": "ru-RU",
  "isAccessibleForFree": true,
  "author": { 
    "@type": "Person",
    "@id": "https://vnutriapps.ru/about-vnutri-apps#nikita-mityaev" },
  "publisher": {
    "@type": "Organization",
    "@id": "https://vnutriapps.ru/#organization",
    "url": "https://vnutriapps.ru/"
  },
  "copyrightHolder": {
    "@type": "Organization",
    "@id": "https://vnutriapps.ru/#organization",
    "url": "https://vnutriapps.ru/"
  }{% if has_img > 0 %},
  "image": {
    "@type": "ImageObject",
    "url": "{{ img_url | absolute_url }}",
    "contentUrl": "{{ img_url | absolute_url }}",
    "width": {{ img_w }},
    "height": {{ img_h }},
    "caption": {{ page.banner.title | default: page.title | jsonify }}
  },
  "thumbnailUrl": "{{ img_url | absolute_url }}"{% endif %},
  "url": "{{ page.url | absolute_url }}",
  
  "mainEntity": { "@id": "{{ page.url | absolute_url }}#series" },

  "datePublished": "{{ page.date | date_to_xmlschema }}"{% if page.dateUpdated %},
  "dateModified": "{{ page.dateUpdated | date_to_xmlschema }}"{% endif %},
  "text": {{ page.content | strip_html | truncate: 1000 | strip_newlines | jsonify }},
  "wordCount": {{ page.content | strip_html | strip_newlines | split: " " | size }}{% if page.tags and page.tags.size > 0 %},
  "keywords": [{% for tag in page.tags %}{{ tag | jsonify }}{% unless forloop.last %}, {% endunless %}{% endfor %}]{% endif %},
  "hasPart": [
  {% if page.faq and page.faq.size > 0 %}
  { "@type": "FAQPage", "@id": "{{ page.url | absolute_url }}#faq" }{% if page.faq and page.faq.size > 0 %},{% endif %}
{% endif %}
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/nikotinovaya-zavisimost/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/pochemu-brosit-kurit-slozhno-bez-podderzhki/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/psihologiya-zavisimosti/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/sindrom-otmeny-nikotina/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/10-privychek-kotorye-meshayut-otkazatsya-ot-sigaret/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/lovushki-vozvrata-k-kureniyu/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/pervye-72-chasa-bez-sigaret/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/pervaya-nedelya-14-dney-bez-kureniya/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/chto-proishodit-posle-otkaza-kalendar/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/halt-chetyre-triggera/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/nikotinzamestitelnaya-terapiya-nzt/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/dyhanie-vmesto-zatyazhki/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/vechernyaya-tyaga-pered-snom/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/utrenniy-ritual-bez-sigarety/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/trevoga-posle-otkaza-ot-kureniya/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/razdrazhitelnost-posle-otkaza/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/depressiya-posle-otkaza-ot-kureniya/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/vosstanovlenie-zdorovya-posle-otkaza/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/kashel-posle-otkaza-norma/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/davlenie-posle-otkaza-ot-kureniya/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/ves-posle-otkaza-bez-diet/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/serdtse-i-sosudy-posle-otkaza/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/ochistit-legkie-posle-kureniya/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/nervnaya-sistema-posle-otkaza/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/obmen-veshchestv-i-gormony-posle-otkaza/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/immunnaya-sistema-posle-otkaza/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/pochki-i-vodnyj-balans-posle-otkaza/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/zhkt-posle-otkaza/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/pechen-podzheludochnaya-posle-otkaza/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/oporno-dvigatelnyy-apparat-posle-otkaza/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/mikronutrienty-posle-otkaza/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/onkoriziki-posle-otkaza/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/vosstanovlenie-vneshnosti-posle-otkaza/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/rotovaya-polost-i-dyosny-posle-otkaza/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/sryv-posle-otkaza-ot-kureniya/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/alkogol-posle-otkaza-ot-sigaret/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/posle-otkaza-tyanet-na-sladkoe/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/kak-brosit-kurit-esli-vokrug-vse-kuryat/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/kofe-i-nikotin-razvesti-privychki/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/kak-brosit-iqos/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/kak-brosit-veip-bez-sryvov/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/pochemu-zamena-odnoj-zavisimosti-drugoj-ne-reshaet-problemu/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/dom-bez-dyma/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/podderzhat-blizkogo-kotoryy-brosaet-kurit/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/granitsy-i-stress-zachem-govorit-net/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/stress-i-otnosheniya-kak-ne-poteryat-blizost/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/malenkie-shagi/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/21-den-privychka-mif-ili-realnost/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-otpusk-ne-lechit-stress/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/kak-bystro-snizit-stress/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/rol-dyhaniya-v-snizhenii-trevogi/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevogu-nelzya-otognat/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/filosofiya-otkaza-ot-kureniya/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/tishina-posle-dyma/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/kto-ya-bez-sigaret/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/svoboda-bez-nikotina/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/chto-prihodit-na-mesto-sigaret/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/filosofiya/odinochestvo-resurs/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/filosofiya/svoboda-i-razzedineniye-kak-odinochestvo-pomogaet-stat-soboy/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/filosofiya/geroy-i-odinochestvo-pochemu-put-vsegda-odinok/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/filosofiya/chelovek-odinok/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/filosofiya/ot-fromma-do-kamyu-chto-filosofy-govorili-ob-odinochestve/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/privychki/neyrobiologiya-nikotinovoy-zavisimosti/#webpage" },
  { "@type": "WebPage", "@id": "https://vnutriapps.ru/blog/filosofiya/byt-interesnym-sebe/#webpage" }
  ]{% if page.sources and page.sources.size > 0 %},
  "citation": [{% for s in page.sources %}{{ s | jsonify }}{% unless forloop.last %}, {% endunless %}{% endfor %}]{% endif %}{% if page.about or page.tags %}
, "about": [
  {% if page.about %}
    {% for a in page.about %}
      { "@type": "Thing", "name": {{ a | jsonify }} }{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% elsif page.tags and page.tags.size > 0 %}
    {% for tag in page.tags %}
      { "@type": "Thing", "name": {{ tag | jsonify }} }{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% endif %}
]{% endif %},
  "potentialAction": {
    "@type": "ReadAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{ page.url | absolute_url }}"
    }
  },
  "isPartOf": [
    { "@id": "https://vnutriapps.ru/#webpage" },
    { "@id": "https://vnutriapps.ru/#website" },
    { "@id": "https://vnutriapps.ru/brosit-kurit#webpage" }
  ]
}
</script>

<!-- 2) Собственно серия как отдельная сущность -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CreativeWorkSeries",
  "@id": "{{ page.url | absolute_url }}#series",
  "name": {{ page.cycle_title | jsonify }},
  "headline": {{ page.cycle_title | jsonify }},
  "genre": ["Энциклопедия", "Руководство", "Гайд"],
  "description": {{ page.cycle_description | default: site.description | jsonify }},
  "inLanguage": "ru-RU",
  "isAccessibleForFree": true,
  "url": "{{ page.url | absolute_url }}",
   "author": { 
    "@type": "Person",
    "@id": "https://vnutriapps.ru/about-vnutri-apps#nikita-mityaev" },
  "publisher": {
    "@type": "Organization",
    "@id": "https://vnutriapps.ru/#organization",
    "url": "https://vnutriapps.ru/"
  }{% if has_img > 0 %},
  "image": {
    "@type": "ImageObject",
    "url": "{{ img_url | absolute_url }}",
    "contentUrl": "{{ img_url | absolute_url }}",
    "width": {{ img_w }},
    "height": {{ img_h }},
    "caption": {{ page.banner.title | default: page.title | jsonify }}
  }{% endif %},
  "hasPart": [
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/nikotinovaya-zavisimost/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/pochemu-brosit-kurit-slozhno-bez-podderzhki/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/psihologiya-zavisimosti/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/sindrom-otmeny-nikotina/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/10-privychek-kotorye-meshayut-otkazatsya-ot-sigaret/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/lovushki-vozvrata-k-kureniyu/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/pervye-72-chasa-bez-sigaret/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/pervaya-nedelya-14-dney-bez-kureniya/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/chto-proishodit-posle-otkaza-kalendar/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/halt-chetyre-triggera/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/nikotinzamestitelnaya-terapiya-nzt/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/dyhanie-vmesto-zatyazhki/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/vechernyaya-tyaga-pered-snom/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/utrenniy-ritual-bez-sigarety/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/trevoga-posle-otkaza-ot-kureniya/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/razdrazhitelnost-posle-otkaza/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/depressiya-posle-otkaza-ot-kureniya/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/vosstanovlenie-zdorovya-posle-otkaza/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/kashel-posle-otkaza-norma/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/davlenie-posle-otkaza-ot-kureniya/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/ves-posle-otkaza-bez-diet/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/serdtse-i-sosudy-posle-otkaza/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/ochistit-legkie-posle-kureniya/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/nervnaya-sistema-posle-otkaza/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/obmen-veshchestv-i-gormony-posle-otkaza/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/immunnaya-sistema-posle-otkaza/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/pochki-i-vodnyj-balans-posle-otkaza/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/zhkt-posle-otkaza/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/pechen-podzheludochnaya-posle-otkaza/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/oporno-dvigatelnyy-apparat-posle-otkaza/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/mikronutrienty-posle-otkaza/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/onkoriziki-posle-otkaza/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/vosstanovlenie-vneshnosti-posle-otkaza/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/rotovaya-polost-i-dyosny-posle-otkaza/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/sryv-posle-otkaza-ot-kureniya/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/alkogol-posle-otkaza-ot-sigaret/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/posle-otkaza-tyanet-na-sladkoe/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/kak-brosit-kurit-esli-vokrug-vse-kuryat/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/kofe-i-nikotin-razvesti-privychki/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/kak-brosit-iqos/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/kak-brosit-veip-bez-sryvov/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/pochemu-zamena-odnoj-zavisimosti-drugoj-ne-reshaet-problemu/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/dom-bez-dyma/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/podderzhat-blizkogo-kotoryy-brosaet-kurit/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/granitsy-i-stress-zachem-govorit-net/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/stress-i-otnosheniya-kak-ne-poteryat-blizost/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/malenkie-shagi/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/21-den-privychka-mif-ili-realnost/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-otpusk-ne-lechit-stress/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/kak-bystro-snizit-stress/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/rol-dyhaniya-v-snizhenii-trevogi/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/emotsii/pochemu-trevogu-nelzya-otognat/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/filosofiya-otkaza-ot-kureniya/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/tishina-posle-dyma/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/kto-ya-bez-sigaret/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/svoboda-bez-nikotina/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/chto-prihodit-na-mesto-sigaret/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/filosofiya/odinochestvo-resurs/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/filosofiya/svoboda-i-razzedineniye-kak-odinochestvo-pomogaet-stat-soboy/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/filosofiya/geroy-i-odinochestvo-pochemu-put-vsegda-odinok/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/filosofiya/chelovek-odinok/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/filosofiya/ot-fromma-do-kamyu-chto-filosofy-govorili-ob-odinochestve/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/privychki/neyrobiologiya-nikotinovoy-zavisimosti/#article" },
  { "@type": "Article", "@id": "https://vnutriapps.ru/blog/filosofiya/byt-interesnym-sebe/#article" }
  ]{% if page.sources_cycle and page.sources_cycle.size > 0 %},
  "citation": [{% for s in page.sources_cycle %}{{ s | jsonify }}{% unless forloop.last %}, {% endunless %}{% endfor %}]{% endif %}{% if page.about_cycle or page.tags_cycle %}
, "about": [
  {% if page.about_cycle and page.about_cycle.size > 0 %}
    {% for a in page.about_cycle %}
      { "@type": "Thing", "name": {{ a | jsonify }} }{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% elsif page.tags_cycle and page.tags_cycle.size > 0 %}
    {% for tag in page.tags_cycle %}
      { "@type": "Thing", "name": {{ tag | jsonify }} }{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% endif %}
]{% endif %},
  "potentialAction": {
    "@type": "ReadAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{ page.url | absolute_url }}"
    }
  }
}
</script>

{% comment %} _includes/jsonld-faq.html (без изменений) {% endcomment %}
{% if page.faq and page.faq.size > 0 %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "@id": "{{ page.url | absolute_url }}#faq",
  "isPartOf": { "@id": "{{ page.url | absolute_url }}#page" },
  "mainEntity": [
    {% for item in page.faq %}
    {
      "@type": "Question",
      "name": {{ item.q | strip_html | strip_newlines | jsonify }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ item.a | strip_newlines | jsonify }}
      }
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
{% endif %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "@id": "{{ page.url | absolute_url }}#webpage",
  "url": "{{ page.url | absolute_url }}",
  "name": {{ page.title | jsonify }},
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | default: site.description | jsonify }},
  "inLanguage": "ru-RU",
  "isAccessibleForFree": true,
  "breadcrumb": { "@id": "{{ page.url | absolute_url }}#breadcrumbs" },
  "datePublished": "{{ page.date | date_to_xmlschema }}"{% if page.dateUpdated %},
  "dateModified": "{{ page.dateUpdated | date_to_xmlschema }}"{% endif %}{% if has_img > 0 %},
  "primaryImageOfPage": {
    "@type": "ImageObject",
    "url": "{{ img_url | absolute_url }}",
    "contentUrl": "{{ img_url | absolute_url }}",
    "width": {{ img_w }},
    "height": {{ img_h }},
    "caption": {{ page.banner.title | default: page.title | jsonify }}
  }{% endif %},
  "mainEntity": { "@id": "{{ page.url | absolute_url }}#series" }
  , "isPartOf": [
    { "@id": "https://vnutriapps.ru/#webpage" },
    { "@id": "https://vnutriapps.ru/#website" },
    { "@id": "https://vnutriapps.ru/brosit-kurit#webpage" }
  ]
  
}
</script>
