---
layout: default
---

{% include breadcrumbs.html %}

{% capture H1CLOSE %}</h1>{% endcapture %}
{% assign _html = content %}

{% if page.toc != false %}
  {% assign _parts = _html | split: H1CLOSE %}
  {% if _parts.size > 1 %}
    {{ _parts[0] }}{{ H1CLOSE }}
    {% include toc.html html=_html h_min=2 h_max=2 title="Содержание" class="toc" ordered="false" %}
    {{ _parts | slice: 1, _parts.size | join: H1CLOSE }}
  {% else %}
    {% include toc.html html=_html h_min=2 h_max=2 title="Содержание" class="toc" ordered="false" %}
    {{ _html }}
  {% endif %}
{% else %}
  {{ _html }}
{% endif %}


